
@{
    ViewBag.Title = "Insurance company";
}

@Scripts.Render("~/Scripts/ng/Services/InsCompanyService.js")
@Scripts.Render("~/Scripts/ng/Controllers/InsCompanyControler.js")


<script>
</script>
<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Dashboard"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Master Details</li><li>Insurance</li>
        <li class="active"><b>Insurance Company</b></li>
    </ul>
</div>
<div ng-app="IBMSAPP" ng-controller="InsCompanyController" ng-init="init()" ng-cloak>


    <div class="page-content-wrap">

        <div class="panel panel-default tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">View</a></li>
                <li><a href="#tab-second" role="tab" data-toggle="tab">New</a></li>
                @*<li><a href="#tab-third" role="tab" data-toggle="tab">Edit</a></li>*@
            </ul>
            <div class="panel-body tab-content">
                <div class="tab-pane active" id="tab-first">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
    <strong>Insurance Company</strong>
</h3>
                            <ul class="panel-controls">
                                <li><input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" placeholder="Search Insurance Company ..." ng-model="search_query" ng-change="searchTextChange(search_query)"></li>
                                <li><a href="#" ng-click="refreshContent()"><span class="fa fa-refresh"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-2">Show records per page </div>
                        <div class="col=md-10">
                            <select class="form-control" style="width:100px;"
                                    ng-model="viewby"
                                    ng-change="setItemsPerPage(viewby)">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                            </select>
                        </div>
                        <div><br></div>
                        <table class="table table-responsive" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Insurance Company Name</th>
                                    <th>Address</th>
                                    <th>Contact Person</th>
                                    <th>Contact No</th>
                                    <th>Email</th>
                                    <th>Fax</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="InsuranceCompnay in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <!--<tr  >-->
                                <tr id="view{{InsuranceCompnay.InsuranceCompanyID}}"  >
                                    <td hidden>{{InsuranceCompnay.InsuranceCompanyID}} </td>
                                    <td hidden>{{InsuranceCompnay.businessUnitID}}</td>
                                    <td>{{InsuranceCompnay.InsuranceCompanyName}}</td>
                                    <td>{{InsuranceCompnay.Address1}},{{InsuranceCompnay.Address2}},{{InsuranceCompnay.Address3}}</td>
                                    <td>{{InsuranceCompnay.ContactPerson}}</td>
                                    <td>{{InsuranceCompnay.ContactNo}}</td>
                                    <td>{{InsuranceCompnay.Email}}</td>
                                    <td>{{InsuranceCompnay.Fax}}</td>
                                    <td>
                                        <div class="fa fa-edit btn btn-success" ng-click="edit(InsuranceCompnay)"> &nbsp;&nbsp;&nbsp;Edit</div>
                                        <div class="fa fa-trash-o btn btn-danger" ng-click="Delete(InsuranceCompnay)"> Delete</div>
                                    </td>
                                
                                
                                </tr>
                                
                                <tr id="edit{{InsuranceCompnay.InsuranceCompanyID}}"hidden>
                                    <td hidden>
                                        <input type="text" hidden class="form-control"
                                               value="{{InsuranceCompnay.InsuranceCompanyID}}"
                                               ng-model="InsuranceCompnay.InsuranceCompanyID">
                                    </td>
                                    <td hidden>
                                        <input type="text" hidden class="form-control"
                                               value="{{InsuranceCompnay.BusinessUnitID}}"
                                               ng-model="InsuranceCompnay.BusinessUnitID">
                                    </td>
                                    <td>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" 
                                               value="{{InsuranceCompnay.InsuranceCompanyName}}"
                                               ng-model="InsuranceCompnay.InsuranceCompanyName" >
                                        <span class="help-block" style="color:red" ng-show="!InsuranceCompnay.InsuranceCompanyName">Required Field *</span>
                                    </td>
                                    <td>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" 
                                               value="{{InsuranceCompnay.Address1}}"
                                               ng-model="InsuranceCompnay.Address1">
                                        <span class="help-block" style="color:red" ng-show="!InsuranceCompnay.Address1">Required Field *</span>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control"
                                               value="{{InsuranceCompnay.Address2}}"
                                               ng-model="InsuranceCompnay.Address2">
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control"
                                               value="{{InsuranceCompnay.Address3}}"
                                               ng-model="InsuranceCompnay.Address3">
                                    </td>
                                    <td>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" 
                                               value="{{InsuranceCompnay.ContactPerson}}"
                                              ng-model="InsuranceCompnay.ContactPerson">
                                    </td>
                                    <td>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" 
                                               value="{{InsuranceCompnay.ContactNo}}"
                                               ng-model="InsuranceCompnay.ContactNo">
                                    </td>
                                    <td>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" 
                                               value="{{InsuranceCompnay.Email}}"
                                               ng-model="InsuranceCompnay.Email">
                                    </td>
                                    <td>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" 
                                               value="{{InsuranceCompnay.Fax}}"
                                               ng-model="InsuranceCompnay.Fax">
                                    </td>
                                    <td>
                                    <div class="fa fa-save btn btn-info" ng-disabled="!(InsuranceCompnay.InsuranceCompanyName)" ng-click="update(InsuranceCompnay)"> Update</div>
                                        <div ng-click="cancel(InsuranceCompnay)" class="fa fa-times btn btn-default">&nbsp; Cancel</div>
                                    </td>


                                </tr>




                               



                                </tbody>

</table>
                        <pagination class="pull-left" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>

                     </div>



                    </div>
                    <div class="tab-pane" id="tab-second">
                        
                            <form id="jvalidate" class="form-horizontal col-md-10" role="form">
                                <ng-form name="insComData" novalidate>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            <select name="selectBusinessunit" class="form-control"
                                                    ng-model="BusinessUnit"
                                                    ng-options="BusinessUnit.BusinessUnitID as BusinessUnit.BusinessUnit for BusinessUnit in filteredBusinessUnits" ng-required="true">
                                                @*<option value="">--Select a Business Unit--</option>*@
                                            </select>
                                            <span class="help-block" style="color:red" ng-show="insComData.bu.$error.required">Required Field *</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Insurance Company Name</label>
                                        <div class="col-md-8">
                                            <input type="text" name="insName" class="form-control" ng-model="insCompany" value="Some text value..." ng-required="true" /><span class="help-block" style="color:red" ng-show="insComData.insName.$error.required">Required Field *</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">VAT Registration No</label>
                                        <div class="col-md-8">
                                            <input type="text" name="vatReg" class="form-control" ng-model="vatReg" value="Some text value..." ng-required="true" /><span class="help-block" style="color:red" ng-show="insComData.vatReg.$error.required">Required Field *</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address Line1</label>
                                        <div class="col-md-8">
                                            <input type="text" name="address" class="form-control" ng-model="Address1" ng-required="true" /><span class="help-block" style="color:red" ng-show="insComData.address.$error.required">Required Field *</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address Line2</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="Address2" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address line3</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="Address3" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Contact No</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="contactNo" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Contact Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="contactName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Telephone No1</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="contactNo1" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Telephone No2</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="contactNo2" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-8">
                                            <input type="text" name="email" class="form-control" ng-model="Email" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Fax</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="fax" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div class="btn btn-primary" ng-disabled="!insComData.$valid" ng-click="Save()">Save Insurance Company <span class="fa fa-floppy-o fa-right"></span></div>
                                            <button type="button" class="btn btn-default" ng-click="ClearFields()">Clear<span class="glyphicon glyphicon-erase fa-right"></span></button>
                                        </div>
                                    </div>
                                </ng-form>
</form>

                            

</div>
                    @*<div class="tab-pane" id="tab-third">
                        <p> 3rd</p>

                    </div>*@
                </div>
                    </div>
        <div id="divLoading" ng-show="showLoader"></div>
                </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/js/plugins/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript">
            var jvalidate = $("#jvalidate").validate({
                ignore: [],
                rules: {
                    email: {
                        //required: true,
                        email: true
                    },
                }
            });
</script>
