
@{
    ViewBag.Title = "GetInvoice";
}

<script src="~/Scripts/ng/Controllers/LocalAdmissionController.js"></script>
<script src="~/Scripts/ng/Services/LocalAdmissionService.js"></script>

<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Dashboard"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Transaction</li>
        <li>Admission</li>
        <li>Local Admission</li>
        <li class="active"><b>Invoice</b></li>
    </ul>
</div>

<div class="content" ng-app="IBMSAPP">
    <div ng-controller="LocalAdmissionController" ng-init="init()" ng-cloak>
        <div class="col-md-12">
            <div class="panel-body">
                <section class="content-header">
                    <h1>
                        Invoice
                        <small ng-bind="invoiceData.ReferenceNo"></small>
                    </h1>

                </section>
                @* <span ng-bind="invoiceData.ReferenceNo"></span>*@


            </div>



        </div>

        <div class="col-md-12">
            <div class="panel-body">

                <div class="panel panel-flat">
                    <ng-form name="admissionInvoice">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="page-header">
                                    <i class="fa fa-globe"></i> International Medical Service.
                                    <small class="pull-right">Date: @DateTime.Now</small>
                                </h2>
                            </div>
                            <!-- /.col -->
                        </div>

                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">

                                <address>
                                    <strong>International Medical Service</strong><br>
                                    Singapore General Hospital<br>
                                    Outram Road <br>
                                    Singapore <br>
                                    169608,<br />
                                    @*Singapore<br />
                                        Tel : 68277755 Fax : 68277705*@
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">

                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>TAX Invoice: </b><b ng-bind="invoiceData.CMAInvoiceNumber"></b>
                                <br>
                                <b>Date       :</b> @DateTime.Now.Date.ToShortDateString()<br><br />
                                <b>Terms      : </b> <input type="text" name="terms" ng-model="invoiceData.Terms" ng-required="true">
                                <span class="help-block" style="color:red" ng-show="admissionInvoice.terms.$error.required">Required Field *</span>
                                <br><br>
                                <b>Cust Id: </b>
                                <input type="text" name="customerId" ng-model="invoiceData.CustomerId" ng-required="true">
                                <span class="help-block" style="color:red" ng-show="admissionInvoice.customerId.$error.required">Required Field *</span>
                                <br>

                            </div>
                            <!-- /.col -->
                        </div>

                        <!-- Table row -->
                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>Patient Name</th>
                                            <th>Final Amount</th>

                                        </tr>
                                    </thead>
                                    @*<tbody>
                                            <tr>

                                                <td>
                                                    <div class="col-xs-3">Claims Assessor: </div>
                                                    <div class="col-xs-9">
                                                        <input type="text" name="claimsAssessor" style="width:100%" ng-model="invoiceData.ClaimAssessor" ng-required="true" />
                                                        <span class="help-block" style="color:red" ng-show="admissionInvoice.claimsAssessor.$error.required">Required Field *</span>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Case No: </div><div class="col-xs-9" ng-bind="invoiceData.CaseNo"></div> </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Name of Insured: </div><div class="col-xs-9" ng-bind="invoiceData.NameOnInsurance"></div> </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Your Reference: </div><div class="col-xs-9" ng-bind="invoiceData.ReferenceNo"></div> </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Location of Incident: </div><div class="col-xs-9" ng-bind="invoiceData.LocationOfIncident"></div> </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-xs-3">Policy or Membership No: </div>
                                                    <div class="col-xs-9">
                                                        <input type="text" name="membershipNo" style="width:100%" ng-model="invoiceData.MembershipNo" ng-required="true" />
                                                        <span class="help-block" style="color:red" ng-show="admissionInvoice.membershipNo.$error.required">Required Field *</span>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Date of Admission: </div><div class="col-xs-9" name="" ng-bind="invoiceData.DateOfAdmission"></div> </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Date of Discharget: </div><div class="col-xs-9" ng-bind="invoiceData.DateOfDischarge"></div> </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Medical Expenses: </div><div class="col-xs-9"></div> </td>
                                                <td></td>
                                                <td ng-bind="invoiceData.MedicalExpenses"></td>
                                            </tr>
                                            <tr>
                                                <td><div class="col-xs-3">Case Fee: </div><div class="col-xs-9"></div> </td>
                                                <td contenteditable="true"></td>
                                                <td ng-bind="invoiceData.CaseFee"></td>
                                            </tr>
                                        </tbody>*@
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="lead">We thank you In advance for sending a telex transfer to the bank details below : </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th style="width:50%">Beneficiary Name:</th>
                                            <td ng-bind="invoiceData.ClaimAssessor"></td>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">Account No:</th>
                                            <td>
                                                <input type="text" name="accountNo" ng-model="invoiceData.AccountNo" ng-required="false" style="width:100%" />
                                                <span class="help-block" style="color:red" ng-show="admissionInvoice.accountNo.$error.required">Required Field *</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Bank Nname</th>
                                            <td>
                                                <input type="text" name="bankName" ng-model="invoiceData.BankName" ng-required="false" style="width:100%" />
                                                <span class="help-block" style="color:red" ng-show="admissionInvoice.bankName.$error.required">Required Field *</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Bank Address</th>
                                            <td>
                                                <input type="text" name="bankAddress" ng-model="invoiceData.BankAddress" ng-required="false" style="width:100%" />
                                                <span class="help-block" style="color:red" ng-show="admissionInvoice.bankAddress.$error.required">Required Field *</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        @*<tr>
                                                <th>Bank Branch</th>
                                                <td>
                                                    <input type="text" name="bankBranch" ng-model="invoiceData.BankBranch" ng-required="false" style="width:100%" />
                                                    <span class="help-block" style="color:red" ng-show="admissionInvoice.bankBranch.$error.required">Required Field *</span>
                                                </td>
                                            </tr>*@
                                        <tr>
                                            <th style="width:50%">Swift Code</th>
                                            <td>
                                                <input type="text" name="swiftCode" ng-model="invoiceData.SwiftCode" ng-required="false" style="width:100%" />
                                                <span class="help-block" style="color:red" ng-show="admissionInvoice.swiftCode.$error.required">Required Field *</span>
                                            </td>
                                        </tr>
                                        @*<tr>
                                                <th>Bank Code</th>
                                                <td>
                                                    <input type="text" name="bankCode" ng-model="invoiceData.BankCode" ng-required="false" style="width:100%" />
                                                    <span class="help-block" style="color:red" ng-show="admissionInvoice.bankCode.$error.required">Required Field *</span>
                                                </td>
                                            </tr>*@
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-xs-12">
                                @*  <a href="#" target="_blank" class="btn btn-default" ng-click="Save()"><i class="fa fa-print"></i> Print</a>*@
                                <div class="btn btn-primary" ng-disabled="!admissionInvoice.$valid" ng-click="Save()" ng-show="!isUpdate"><span class="fa fa-print"></span>Print</div>
                            </div>
                        </div>
                        <br />
                    </ng-form>
                </div>
                <div class="panel-body">

                </div>
            </div>




        </div>

        <h2>Invoice</h2>

    </div>
</div>
