
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_index.cshtml";
}

<script src="~/Scripts/ng/Services/RateCategoryService.js"></script>
<script src="~/Scripts/ng/Controllers/RateCategoryController.js"></script>
<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Dashboard"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Master Details</li>
        <li class="active"><b>Rate Category</b></li>
    </ul>
</div>
@*Developed by Rajin*@
<div class="content" ng-app="IBMSAPP">
    <div ng-controller="RateCategoryController" ng-init="init()" ng-cloak>
        <div class="page-content-wrap">

            <div class="panel panel-default tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">View</a></li>
                    <li><a href="#tab-second" role="tab" data-toggle="tab">New</a></li>
                    @*<li><a href="#tab-third" role="tab" data-toggle="tab">Edit</a></li>*@
                </ul>
                <div class="panel-body tab-content">
                    <div class="tab-pane active" id="tab-first">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <strong>Rate Category</strong>
                                </h3>
                                <ul class="panel-controls">
                                    <li><input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" placeholder="Search Rate Category ..." ng-model="search_query" ng-change="searchTextChange(search_query)"></li>
                                    <li><a href="#" ng-click="refreshContent()"><span class="fa fa-refresh"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-2">Show records per page </div>
                            <div class="col=md-10">
                                <select class="form-control" style="width:100px;" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>50</option>
                                </select>
                            </div>
                            <div></div><br />
   
                            <table class="table table-responsive" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th hidden>RateCategory ID</th>
                                        <th>Rate Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="Rate in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <!--<tr  >-->
                                    <tr id="view{{Rate.RateCategoryID}}">
                                        <td hidden>{{Rate.RateCategoryID}}</td>
                                        <td>{{Rate.RateCategoryName}}</td>
                                        <td>
                                            <div class="fa fa-edit btn btn-success" ng-click="editRate(Rate)"> Edit</div>&nbsp;
                                            <div class="fa fa-trash-o btn btn-danger" ng-click="deleteRate(Rate.RateCategoryID)"> Delete</div>
                                        </td>


                                    </tr>

                                    <tr id="edit{{Rate.RateCategoryID}}" hidden>
                                        <td hidden>
                                            <input type="text" hidden class="form-control"
                                                   value="{{Rate.RateCategoryID}}"
                                                   ng-model="Rate.RateCategoryID">
                                        </td>
                                        <td>
                                            <input type="text" hidden class="form-control"
                                                   value="{{Rate.RateCategoryName}}"
                                                   ng-model="Rate.RateCategoryName">
                                            <span class="help-block" style="color:red" ng-show="!Rate.RateCategoryName">Required Field *</span>
                                        </td>
                                        <td>
                                            <div class="fa fa-save btn btn-info" ng-disabled="!(Rate.RateCategoryName)" ng-click="update(Rate)"> Update</div>
                                            <div ng-click="cancel(Rate)" class="fa fa-times btn btn-default"> Cancel</div>
                                        </td>


                                    </tr>


                                </tbody>

                            </table>
                            <pagination class="pull-left" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>

                        </div>

                    </div>
                    <div class="tab-pane" id="tab-second">
                        <form class="form-horizontal col-md-10" role="form">
                            <ng-form name="rateData" novalidate>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Rate Category Name</label>
                                    <div class="col-md-8">
                                        <input type="text" name="inputRateName" ng-model="rateObj.RateCategory" class="form-control" value="Some text value..." ng-required="true"/>
                                        <span class="help-block" style="color:red" ng-show="rateData.inputRateName.$error.required">Required Field *</span>
                                    </div>

                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <div class="btn btn-primary" ng-disabled="!rateData.$valid" ng-click="addRateCategory()">Add Rate Category <span class="fa fa-floppy-o fa-right"></span></div>
                                        <button type="button" class="btn btn-default" ng-click="ClearFields()">Clear<span class="glyphicon glyphicon-erase fa-right"></span></button>
                                    </div>

                                </div>
                            </ng-form>
                        </form>
                            


</div>
                    <div class="tab-pane" id="tab-third">
                        <p> 3rd</p>

                    </div>
                </div>
            </div>

        </div>
        <div id="divLoading" ng-show="showLoader"></div>
    </div>
</div>