@{
    ViewBag.Title = "Cause of Loss";
}


<style>
    .form-control {
        width: 100%;
    }
</style>

<script src="~/Scripts/ng/Controllers/CauseOfLossController.js"></script>
<script src="~/Scripts/ng/Services/CauseOfLossService.js"></script>

<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Dashboard"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Master Details</li><li>Claim</li>
        <li class="active"><b>Cause of Loss</b></li>
    </ul>
</div>

<div ng-app="IBMSAPP" ng-controller="CauseOfLossController" ng-init="init()" ng-cloak>
    


            <div class="page-content-wrap">
                <div class="panel panel-default tabs">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" id="tabView"><a href="#tab-first" role="tab" data-toggle="tab">View</a></li>
                        <li id="tabEdit"><a href="#tab-second" role="tab" data-toggle="tab">New</a></li>
                    </ul>

                    <div class="panel-body tab-content">

                        <div class="tab-pane active" id="tab-first">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <strong>Cause of Loss</strong>
                                    </h3>
                                    <ul class="panel-controls">
                                        <li><input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" placeholder="Search Cause of Loss ..." ng-model="search_query" ng-change="searchTextChange(search_query)"></li>
                                        <li><a href="#" class="panel-refresh" ng-click="refreshContent()"><span class="fa fa-refresh"></span></a></li>
                                   
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="col-md-2">Show records per page </div>
                                <div class="col=md-10">
                                    <select class="form-control" style="width:100px;" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                        <option>40</option>
                                        <option>50</option>
                                    </select>
                                </div>
                                <div></div><br />
                                <table class="table table-responsive" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Cause of Loss</th>
                                            <th>Insurance Class</th>
                                            <th>Insurance Sub Class</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="Cause in filterdData = (data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)))">
                                        <tr id="view{{Cause.CauseOfLossID}}">
                                            <td hidden>
                                                {{Cause.CauseOfLossID}}
                                            </td>
                                            <td>
                                                {{Cause.CauseOfLoss}}
                                            </td>
                                            <td>
                                                {{Cause.InsClassCode}}
                                            </td>
                                            <td>
                                                {{Cause.InsSubClassDescription}}
                                            </td>
                                            <td>
                                                <div  class="fa fa-edit btn btn-success" style="width:90px;" ng-click="edit(Cause)"> Edit</div>&nbsp;&nbsp;
                                                <div  class="fa fa-trash-o btn btn-danger" style="width:90px;" ng-click="Delete(Cause)"> Delete</div>
                                            </td>
                                        </tr>
                                        <tr id="edit{{Cause.CauseOfLossID}}" hidden>
                                            <td hidden>
                                                <input type="text" hidden class="form-control"
                                                       value="{{Cause.CauseOfLossID}}"
                                                       ng-model="Cause.CauseOfLossID">
                                            </td>
                                            <td>
                                               
                                                <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control"
                                                       value="{{Cause.CauseOfLoss}}"
                                                       ng-model="Cause.CauseOfLoss"
                                                       ng-required="true">
                                                <span class="help-block" style="color:red" ng-show="!Cause.CauseOfLoss">Required Field *</span>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="Cause.InsuranceClassID" 
                                                        ng-options="InsuranceClass.InsuranceClassID as InsuranceClass.InsuranceCode for InsuranceClass in availableInsuranceClass" 
                                                        ng-required="true"
                                                        ng-change="LoadInsSubClass(Cause.InsuranceClassID)">
                                                    <option value="">{{Cause.InsClassCode}}</option>
                                                </select>
                                                <span class="help-block" style="color:red" ng-show="!Cause.InsClassCode">Required Field *</span>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="Cause.InsSubClassID" 
                                                        ng-options="InsuranceSubClass.InsuranceSubClassID as InsuranceSubClass.Description for InsuranceSubClass in availableInsuranceSubClass" 
                                                        ng-required="true">
                                                    <option value="">{{Cause.InsSubClassDescription}}</option>
                                                </select>
                                                <span class="help-block" style="color:red" ng-show="!Cause.InsSubClassDescription">Required Field *</span>
                                            </td>
                                            @*{{availableInsuranceSubClass}}*@
                                            <td>
                                                <div  class="fa fa-save btn btn-info" ng-disabled="!Cause.CauseOfLoss" ng-click="update(Cause)"> Update</div>&nbsp;
                                                <div ng-click="cancel(Cause)"  class="fa fa-times btn btn-default"> Cancel</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination class="pull-left pagination-sm" total-items="totalItems" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-second">


                            <form class="form-horizontal col-md-10" role="form">
                                <ng-form name="CauseOfLossData">

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cause of Loss</label>
                                        <div class="col-md-4">
                                            <input type="text" name="Causeofloss" style="width:100%" ng-model="cause" class="form-control" value="" ng-required="true" />
                                            <span class="help-block" style="color:red;" ng-show="CauseOfLossData.Causeofloss.$error.required">Required Field *</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Insurance Class</label>
                                        <div class="col-md-4">
                                            <select name="selectInsuranceClass" id="insclas"
                                                    class="form-control" ng-model="InsClassID" style="width:100%"
                                                    ng-options="InsuranceClass.InsuranceClassID as InsuranceClass.InsuranceCode for InsuranceClass in availableInsuranceClass"
                                                    ng-required="true"
                                                      ng-change="LoadInsSubClass(InsClassID)">
                                                <option value="">--Select a Insurance Class--</option>
                                            </select>
                                            <span class="help-block" style="color:red" ng-show="CauseOfLossData.selectInsuranceClass.$error.required">Required Field *</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Insurance Sub Class</label>
                                        <div class="col-md-4">
                                            <select name="selectInsuranceSubClass" id="inssubclas"
                                                    class="form-control" ng-model="InsSubClassID" style="width:100%"
                                                    ng-options="InsuranceSubClass.InsuranceSubClassID as InsuranceSubClass.Description for InsuranceSubClass in availableInsuranceSubClass"
                                                    ng-required="true">
                                                <option value="">--Select a Insurance Sub Class--</option>
                                            </select><span class="help-block" style="color:red" ng-show="CauseOfLossData.selectInsuranceSubClass.$error.required">Required Field *</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div  class="btn btn-primary" ng-disabled="!CauseOfLossData.$valid" ng-click="Save()"> Save<span class="fa fa-floppy-o fa-right"></span></div>
                                            <button type="button" class="btn btn-default" ng-click="ClearFields()">Clear<span class="glyphicon glyphicon-erase fa-right"></span></button>

                                         </div>
                                    </div>




                                </ng-form>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="divLoading" ng-show="showLoader"></div>
            </div>


        </div>
