@{

    Layout = "~/Views/Shared/_index.cshtml";
    ViewBag.Title = "Policy Information Recording";
}



@Scripts.Render("~/Scripts/ng/testAPI.js")

@Scripts.Render("~/Scripts/ng/Controllers/DebitNoteController.js")
@Scripts.Render("~/Scripts/ng/Services/DebitNoteService.js")


<style>
    .form-control {
        min-width: 100%;
        border-radius: 0px;
    }
</style>






<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Index"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Payment</li>
        <li class="active"><b>Payment Reciept/Debit Note/Credit Note Entry</b></li>
    </ul>
</div>

<div ng-app="IBMSAPP">
    <div ng-controller="DebitNoteController" ng-cloak>

        <div class="page-content-wrap" style="background:  url('../img/bg.png') left top repeat;">
            <div class="panel panel-default tabs" >

                <ul class="nav nav-tabs" role="tablist" style="background-color:transparent!important">
                    <li class="active" id="tabView"><a href="#tab-first" role="tab" data-toggle="tab">View</a></li>
                    <li id="tabEdit"><a href="#tab-second" role="tab" data-toggle="tab">New/Edit</a></li>
                </ul>

                <div class="panel-body tab-content" style="background-color:transparent!important">

                    <div class="tab-pane active" id="tab-first">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <strong>Payment Reciept/Debit Note/Credit Note List</strong>
                                </h3>
                                <ul class="panel-controls">
                                    <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body" style="background-color:transparent!important">
                            <table class="table table-bordered table-striped dataTable" style="font-size:10px;">
                                <thead>
                                    <tr>
                                        <th>Payment No</th>
                                        <th>Client Name</th>
                                        <th>Amount</th>
                                        <th>Created Date</th>
                                        <th>Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="paymen in PaymentDebitNotes">
                                        <td>
                                           "PAY-" {{paymen.PaymentID}}
                                        </td>
                                        <td>
                                            {{paymen.ClientName}}
                                        </td>
                                        <td>
                                            {{paymen.PaymentAmount}}
                                        </td>
                                        <td>
                                            {{paymen.CreatedDate}}
                                        </td>

                                        <td>
                                            <button class="btn btn-info" style="width:70px;padding:1px;"
                                                    ng-click="Edit(paymen)">
                                                Payment
                                            </button>
                                            <button class="btn btn-warning" style="width:70px;padding:1px;"
                                                    ng-click="InActive(paymen)">
                                                Inactive
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                            <table class="table table-bordered table-striped dataTable" style="font-size:10px;" hidden>
                                <thead>
                                    <tr>
                                        <th>PolicyNumber</th>
                                        <th>QuotationHeaderID</th>
                                        <th>Period Of Cover FromDate</th>
                                        <th>Period Of Cover ToDate</th>
                                        <th>Tax Invoice Number</th>
                                        <th>File Number</th>
                                        <th>Created Date</th>
                                        <th>Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="policyInfor in policyInforList">
                                        <td>
                                            {{policyInfor.PolicyNumber}}
                                        </td>
                                        <td>
                                            QAT-{{policyInfor.QuotationHeaderID}}
                                        </td>
                                        <td>
                                            {{policyInfor.PeriodOfCoverFromDate}}
                                        </td>
                                        <td>
                                            {{policyInfor.PeriodOfCoverToDate}}
                                        </td>

                                        <td>
                                            {{policyInfor.TaxInvoiceNumber}}
                                        </td>
                                        <td>
                                            {{policyInfor.FileNumber}}
                                        </td>
                                        <td>
                                            {{policyInfor.CreatedDate}}
                                        </td>
                                        <td>
                                            <button class="btn btn-info" style="width:70px;padding:1px;"
                                                    ng-click="Edit(policyInfor)">
                                                Payment
                                            </button>
                                            <button class="btn btn-warning" style="width:70px;padding:1px;"
                                                    ng-click="InActive(policyInfor)">
                                                Inactive
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab-second">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Payment Reciept/Debit Note/Credit Note Entry</h5>
                                <h3 class="panel-title"></h3>
                                <ul class="panel-controls">
                                    <li><input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" placeholder="Search  ..." ng-model="search_query"></li>
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                    <li><a href="#" class="panel-refresh" ng-click="refresh()"><span class="fa fa-refresh"></span></a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body" style="background-color:transparent!important">

                            <form id="validate" role="form" class="form-horizontal" action="javascript:alert('Form #validate submited')">

                                <div class="row">
                                    <div class="col-md-12" style="background-color:transparent!important">
                                       
                                            <div class="form-group" hidden>
                                                <label class="col-md-4 control-label">Status{{}}</label>
                                                <div class="col-md-8">

                                                    <select class="form-control "
                                                            ng-model="statuseee">
                                                        <option ng-repeat="status in statuses"
                                                                value="{{status.QuotationStatusCode}}">
                                                            {{status.Description}}
                                                        </option>
                                                    </select>


                                                </div>





                                            </div>



                                            <div class="form-group" hidden>
                                                <label class="col-md-4 control-label">Request No</label>
                                                <div class="col-md-8">
                                                    <div class="form-control">
                                                        REQ-{{ ClentRequestHeader.ClientRequestHeaderID}}


                                                    </div>
                                                </div>





                                            </div>


                                            <div class="form-group" hidden>
                                                <label class="col-md-4 control-label">Request Date</label>
                                                <div class="col-md-8">
                                                    <div class="form-control">
                                                        {{ClentRequestHeader.RequestedDate}}


                                                    </div>
                                                </div>





                                            </div>

                                            <div class="col-md-4 form-group"  >
                                                <label class="col-md-4 control-label">Choose Customer</label>
                                                <div class="col-md-8">
                                                    <select ng-style="{'background-color': data.backgroundCol}" ng-options="client.ClientID as client.ClientName for client in Clients"
                                                            ng-change="LoadClientByID(client)"
                                                            ng-model="ClientID" 
                                                            class="form-control" 
                                                            ng-readonly="isDisabled"></select>
                                                </div>

                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label class="col-md-4 control-label">Customer Name</label>
                                                <div class="col-md-8">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                           name="cusName" class=" form-control" ng-readonly="isDisabled" ng-model="cusName" value="Some text value..." />


                                                </div>

                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label class="col-md-4 control-label">Address</label>
                                                <div class="col-md-8">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="Address1" ng-readonly="isDisabled" value="password" />
                                                </div>

                                            </div>

                                            <div class="form-group" hidden>
                                                <label class="col-md-4 control-label">Address2</label>
                                                <div class="col-md-8">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="Address2" value="password" ng-readonly="isDisabled" />
                                                </div>
                                            </div>

                                            <div class="form-group" hidden>
                                                <label class="col-md-4 control-label">Address3</label>
                                                <div class="col-md-8">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="Address3" ng-readonly="isDisabled" value="password" />
                                                </div>
                                            </div>

                                            <div class="form-group" hidden>

                                                <label class="col-md-4 control-label">DOB</label>
                                                <div class="col-md-4">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class=" form-control" name="date" ng-readonly="isDisabled" ng-model="DOB" />

                                                </div>
                                                <label class="col-md-1 control-label">NIC</label>
                                                <div class="col-md-3">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="NIC" ng-readonly="isDisabled" />
                                                </div>



                                            </div>
                                            <div class="form-group" hidden>
                                                <label class="col-md-4 control-label">Mobile No</label>
                                                <div class="col-md-4">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="mobileNo" ng-readonly="isDisabled" />
                                                </div>
                                                <label class="col-md-2 control-label">Fixed Line</label>
                                                <div class="col-md-2">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="fixedLine" ng-readonly="isDisabled" />
                                                </div>



                                            </div>

                                            <div class="form-group" hidden>

                                                <label class="col-md-4 control-label">E-Mail</label>
                                                <div class="col-md-8">
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" name="email" class=" form-control" ng-model="email" ng-readonly="isDisabled" />

                                                </div>

                                            </div>
                                            <div class="form-group" hidden>
                                                <label class="col-md-4 control-label">AVIVA/BUPA</label>
                                                <div class="col-md-8">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">

                                                            <div class="form-group" style="font-size:10px;">
                                                                <label class="col-md-2 control-label">Resident Country</label>
                                                                <div class="col-md-4">
                                                                    <select ng-style="{'background-color': data.backgroundCol}" class="col-md-12 form-control " data-live-search="true" ng-model="homeCountry" ng-readonly="isDisabled">
                                                                        <option ng-repeat="Country in Countries"
                                                                                value="{{Country.CountryID}}">
                                                                            {{Country.CountryName}}
                                                                        </option>

                                                                    </select>
                                                                </div>
                                                                <label class="col-md-2 control-label">Home Country</label>
                                                                <div class="col-md-4">
                                                                    <select ng-style="{'background-color': data.backgroundCol}" class="form-control " data-live-search="true" ng-model="residentCountry" ng-readonly="isDisabled">
                                                                        <option ng-repeat="Country in Countries"
                                                                                value="{{Country.CountryID}}">
                                                                            {{Country.CountryName}}
                                                                        </option>

                                                                    </select>
                                                                </div>



                                                            </div>


                                                            <div class="form-group" style="font-size:10px;">
                                                                <label class="col-md-2 control-label">Inspection Date</label>
                                                                <div class="col-md-10">
                                                                    <div class="input-group date datepicker" data-date="05/07/2014"
                                                                         data-date-format="dd-mm-yyyy" ng-model="inspectionType" ng-readonly="isDisabled">
                                                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" id="dp-2" class="form-control  " value="05/07/2014" ng-readonly="isDisabled" />
                                                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <div class="form-group" style="font-size:10px;">

                                                                <label class="col-md-2 control-label">Family Discount</label>
                                                                <div class="col-md-10">
                                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control  " ng-model="fDiscount" ng-readonly="isDisabled" />

                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>



                                            </div>

                                     


                                    </div>
                                    <div class="col-md-6" style="background-color:transparent!important">
                                    <div class="col-md-12">

                                        <!-- START POLICY INFO PANEL -->
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Policy Information</h3>
                                                <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                       class="form-control col-md-6"
                                                       placeholder="Search  ..."
                                                       ng-model="search_ins_comapnies_sub_class_scope_query" />
                                            </div>
                                            <div class="panel-body">


                                                <table class="table table-responsive " style="font-size:8px;">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-size:8px;">PolicyNumber</th>
                                                   
                                                            <th style="font-size:8px;">Period Of Cover FromDate</th>
                                                            <th style="font-size:8px;">Period Of Cover ToDate</th>
                                                         
                                                            <th style="font-size:8px;">Action </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="policyInfor in policyInforList">
                                                            <td>
                                                                {{policyInfor.PolicyNumber}}
                                                            </td>
                                                           
                                                            <td>
                                                                {{policyInfor.PeriodOfCoverFromDate}}
                                                            </td>
                                                            <td>
                                                                {{policyInfor.PeriodOfCoverToDate}}
                                                            </td>

                                                            <td>
                                                                <button class="btn btn-success" style="width:50px;padding:1px;"
                                                                        ng-click="Add(policyInfor)">
                                                                    Add
                                                                </button>
                                                                <button class="btn btn-success" style="width:50px;padding:1px;"
                                                                        ng-click="Load(policyInfor)">
                                                                    View
                                                                </button>
                                                                <input type="checkbox" class="icheckbox"
                                                                       ng-model="policyInfor.isChecked" />
                                                                

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                             
                                               

                                                


                                            </div>

                                        </div>
                                        <!-- END Policy PANEL -->






                                    </div>
                                     
                                        
                                        
                                            <div class="form-group" hidden>
                                            <label class="col-md-2 control-label">Policy Number</label>
                                            <div class="col-md-10">
                                                <input type="text" placeholder="Policy Number" class="form-control" ng-model="policyInfor.PolicyNumber" ng-readonly="isDisabled" />
                                            </div>
                                        </div>

                                        <div class="form-group" hidden>


                                            <label class="col-md-2 control-label">Date of Commence</label>

                                            <div class="col-md-10">

                                                <input type="text" placeholder="" class="form-control" ng-model="policyInfor.DateofCommence" />
                                            </div>

                                        </div>

                                        <div class="form-group" hidden>




                                            <label class="col-md-2 control-label">Period of Cover</label>
                                            <div class="col-md-10">
                                                <label class="col-md-2 control-label">From : </label>
                                                <div class="col-md-4">
                                                    <div class="input-group date datepicker" data-date="{{policyInfor.PeriodOfCoverFromDate|date:'MM/dd/yyyy' }}"
                                                         data-date-format="mm/dd/yyyy" ng-model="policyInfor.PeriodOfCoverFromDate">
                                                        <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                               id="dp-3" class="form-control  " value="{{policyInfor.PeriodOfCoverFromDate|date:'MM/dd/yyyy' }}" />
                                                        <span class="input-group-addon add-on">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                                <label class="col-md-1 control-label">To :</label>
                                                <div class="col-md-4">
                                                    <div class="input-group date datepicker" data-date="{{policyInfor.PeriodOfCoverToDate|date:'MM/dd/yyyy' }}"
                                                         data-date-format="mm/dd/yyyy" ng-model="policyInfor.PeriodOfCoverToDate">
                                                        <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                               id="dp-4" class="form-control  " value="{{policyInfor.PeriodOfCoverToDate|date:'MM/dd/yyyy'}}" />
                                                        <span class="input-group-addon add-on">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;">
                                            <!-- START INFO PANEL -->
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Added Ins/Companies/InsSub Classes/Scope</h3>
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                           class="form-control col-md-6"
                                                           placeholder="Search  ..."
                                                           ng-model="search_ins_comapnies_sub_class_scope_query" />
                                                </div>
                                                <div class="panel-body">






                                                    <table class="table table-responsive ">
                                                        <thead style="font-size:10px;background-color:palegreen!important">
                                                            <tr>
                                                                <th hidden>In/Sub Class ID</th>
                                                                <th>In/Class</th>
                                                                <th>In/Sub Class</th>
                                                                <th>Company</th>
                                                                <th> Sum Insured</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!--<tr  >-->
                                                            <tr>
                                                                <td hidden>{{selectedSubClassIDFromInsCompany[0].inslassID}}</td>
                                                                <td hidden>{{selectedSubClassIDFromInsCompany[0].insSubClassID}}</td>
                                                                <td hidden>{{selectedSubClassIDFromInsCompany[0].InsuranceCompanyID}}</td>
                                                                <td>{{selectedSubClassIDFromInsCompany[0].InsClass}}</td>
                                                                <td>{{selectedSubClassIDFromInsCompany[0].InsSubClass}}</td>
                                                                <td>{{selectedSubClassIDFromInsCompany[0].InsuranceCompanyName}}</td>
                                                                <td><input type="text" ng-style="{'background-color': data.backgroundCol}" ng-model="selectedSubClassIDFromInsCompany[0].SumInsured" value="{{selectedSubClassIDFromInsCompany[0].SumInsured}}" /></td>


                                                            </tr>

                                                        </tbody>


                                                    </table>


                                                    <table class="table table-bordered table-responsive" style="font-size:10px;">
                                                        <thead style="background-color:palegreen;font-size:10px;">
                                                            <tr>
                                                                <th hidden style="font-size:10px!important;">In/Sub Class ID</th>
                                                                <th hidden style="font-size:10px!important;">In/Class</th>
                                                                <th style="font-size:10px!important;">Insurance Class</th>
                                                                <th style="font-size:10px!important;">Insurance Sub Class</th>
                                                                <th style="font-size:10px!important;">Scope Description</th>

                                                                <th style="font-size:10px!important;">Is Selected</th>
                                                                <th style="font-size:10px!important;">Excess Type</th>
                                                                <th style="font-size:10px!important;">Excess </th>
                                                            </tr>
                                                        </thead>

                                                        <!--<tr  >-->
                                                        <tr ng-repeat="ScopeInsClass in QuotationDetailsInsCompanyScopeDetails|filter:search_ins_comapnies_sub_class_scope_query">
                                                            <td hidden>{{ScopeInsClass.InsuranceClassCode}}</td>
                                                            <td hidden>{{ScopeInsClass.InsuranceSubClassID}}</td>

                                                            <td>{{ScopeInsClass.InsuranceClassCode}}</td>
                                                            <td>{{ScopeInsClass.InsSubClass}}</td>
                                                            <td>{{ScopeInsClass.ScopeDescription}}</td>

                                                            <td>
                                                                <input type="checkbox" class="icheckbox"
                                                                       ng-model="ScopeInsClass.isChecked" />
                                                            </td>


                                                            <td>{{ScopeInsClass.ExcessType}}</td>
                                                            <td>{{ScopeInsClass.ExcessAmount}}</td>



                                                        </tr>




                                                    </table>



                                                    <div class="row small">

                                                        <label type="text" class="col-md-3">Primium Including Tax</label>

                                                        <label type="text" class="col-md-4">Other Excess Description</label>

                                                        <label type="text" class="col-md-4">Other Excesss Amount</label>



                                                    </div>

                                                    <div class="row">

                                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="col-md-3" ng-model="policyInfor.PremiumIncludingTax" style="margin-right:5px;" />&nbsp;&nbsp;

                                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="col-md-4" ng-model="policyInfor.OtherExcessDescription" style="margin-right:5px;" />&nbsp;&nbsp;

                                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="col-md-4" ng-model="policyInfor.OtherExcessAmount" />&nbsp;



                                                    </div>



                                                </div>

                                            </div>
                                            <!-- END INFO PANEL -->
                                            <!-- START COMMISIION PANEL -->
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Commision Information</h3>
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                           class="form-control col-md-6"
                                                           placeholder="Search  ..."
                                                           ng-model="search_ins_comapnies_sub_class_scope_query" />
                                                </div>
                                                <div class="panel-body">






                                                    <div class="row">
                                                        <div class="form-group" hidden>


                                                            <label class="col-md-2 control-label">Commition Parter</label>

                                                            <div class="col-md-10">

                                                                <select ng-style="{'background-color': data.backgroundCol}"
                                                                        class="col-md-12 form-control "
                                                                        ng-readonly="isDisabled"
                                                                        name="PartnerID"
                                                                        ng-model="partner"
                                                                        ng-options="partner.PartnerID as partner.PartnerName for partner in Partners"
                                                                        ng-change="ChangeCommition(partner)"></select>

                                                            </div>

                                                        </div>
                                                        <div class="form-group" hidden>


                                                            <label class="col-md-2 control-label">Commition Rate</label>

                                                            <div class="col-md-10">

                                                                <select class="col-md-12 form-control "
                                                                        ng-model="comHeader"
                                                                        ng-options="comHeader.CommisionStructureID as comHeader.CommisionStructureName for comHeader in commitionStructuresHeader"></select>
                                                            </div>

                                                        </div>
                                                        <div class="form-group" hidden>


                                                            <button style="width:200px;margin-top:10px;" class="btn btn-success pull-right" ng-click="AddCommision()">Add Commision </button>&nbsp;&nbsp;



                                                        </div>
                                                        <table class="table table-bordered table-responsive" style="font-size:10px;">
                                                            <thead style="background-color:palegreen;font-size:10px;">
                                                                <tr>
                                                                    <th style="font-size:10px!important;">PartnerName</th>
                                                                    <th style="font-size:10px!important;"> Commission Name</th>
                                                                    <th style="font-size:10px!important;">Commission Rate/Value</th>

                                                                </tr>
                                                            </thead>

                                                            <!--<tr  >-->
                                                            <tr ng-repeat="policyComm in policyCommissionPayment|filter:search_ins_comapnies_sub_class_scope_query">
                                                                <td hidden>{{policyComm.CommisionTypeID}}</td>

                                                                <td>{{policyComm.CommitionName}}</td>
                                                                <td>{{policyComm.CommisionRate}}</td>
                                                                <td>{{policyComm.CommisionValue}}</td>

                                                            </tr>




                                                        </table>




                                                    </div>









                                                </div>

                                            </div>
                                            <!-- END COMMISIION PANEL -->
                                            

                                                    <!-- START Porperty PANEL -->
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Property Information</h3>
                                                            <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                                   class="form-control col-md-6"
                                                                   placeholder="Search  ..."
                                                                   ng-model="search_ins_comapnies_sub_class_scope_query" />
                                                        </div>
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <div class="form-group">

                                                                <label class="col-md-4 control-label">Addedddd SubIns Class</label>
                                                                <div class="col-md-8">

                                                                    <div ng-repeat="reqList in selectedSubClassIDFromInsCompany" ng-model="addedInssubclass">
                                                                        {{reqList.InsSubClass}}
                                                                    </div>


                                                                </div>



                                                            </div>

                                                            <div class="form-group">


                                                                <label class="col-md-4 control-label">Property ID/Vehicle RegNo.</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" ng-model="ClientPropertyDetails.ClientPropertyID" />
                                                                </div>

                                                            </div>

                                                            <div class="form-group">


                                                                <label class="col-md-4 control-label">Property Description</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" ng-model="ClientPropertyDetails.ClientPropertyName" />
                                                                </div>

                                                            </div>


                                                            <div class="form-group">


                                                                <label class="col-md-4 control-label">VAT No</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" ng-model="ClientPropertyDetails.VATNo" />
                                                                </div>

                                                            </div>
                                                            <div class="form-group">


                                                                <label class="col-md-4 control-label">BRNo</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" ng-model="ClientPropertyDetails.BRNo" />
                                                                </div>

                                                            </div>


                                                            <div class="form-group">


                                                                <label class="col-md-4 control-label">SVAT No</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" ng-model="ClientPropertyDetails.SVATNo" />
                                                                </div>

                                                            </div>





                                                        </div>

                                                    </div>
                                                    <!-- END Porperty PANEL -->

                                                




                                           



                                        </div>




                                    </div>
 
                                    
                                    <div class="col-md-6">


                                        <div class="col-md-12" >
                                       
                                            <!-- START DEBIT NOTE PANEL -->
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Payment Reference</h3>

                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">

                                                        <label class="col-md-4 control-label">Policy Numnber</label>
                                                        <div class="col-md-8">

                                                            <input type="text" placeholder="" ng-model="policyInfor.PolicyNumber" class="form-control" />
                                                        </div>
                                                   </div>
                                                        <div class="form-group">

                                                            <label class="col-md-2 control-label" hidden>Amount</label>
                                                            <div class="col-md-4" hidden>

                                                                <input type="text" placeholder="" ng-model="am" class="form-control" />
                                                            </div>




                                                            <label class="col-md-4 control-label">Charge Type</label>
                                                            <div class="col-md-8">

                                                                <select class="form-control" ng-model="selectedchargetype" ng-options="chargetype.ChargeTypeID  as chargetype.ChargeTypeName for chargetype in chargetypes"></select>
                                                            </div>
                                                            <div>{{}}</div>
                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-md-4 control-label">Transaction Type</label>
                                                            <div class="col-md-4">

                                                                <select class="form-control" ng-model="selectedcrdb" ng-options="TransactionType.transactionTypeID as TransactionType.TTypeCode for TransactionType in TransactionTypes"></select>
                                                            </div>

                                                            <div class="col-md-2 pull-right">
                                                                <button type="submit" class="btn btn-success" ng-click="AddToChargeType()">Add</button>
                                                            </div>
                                                        </div>





                                                        <div class="form-group">

                                                            <label class="col-md-2 control-label">Charges</label>
                                                            <table class="col-md-8 table table-responsive table-striped " style="width:80%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Charge Type</th>
                                                                        <th>Amount</th>
                                                                        <th>CR/DB</th>

                                                                    </tr>

                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="DebitCharge in DebitChargeList">
                                                                        <td>{{DebitCharge.ChargeType}}</td>
                                                                        <td>{{DebitCharge.Amount}}</td>
                                                                        <td>{{DebitCharge.TTypeCode}}</td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>


                                                        </div>

                                                        <div class="form-group">

                                                            <label class="col-md-2 control-label">Non Commission Premium</label>
                                                            <div class="col-md-4">

                                                                <input type="text" placeholder="" ng-model="nonCommission" class="form-control" value="{{policyInfor.PremiumIncludingTax}}" />
                                                            </div>




                                                            <label class="col-md-2 control-label">Gross Premium</label>
                                                            <div class="col-md-4">

                                                                <input type="text" placeholder="" ng-model="gross" class="form-control" />
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"></label>

                                                            <div class="col-md-2 pull-right">
                                                                <button type="submit" class="btn btn-success pull-right" ng-click="AddToDebitNote()">Add To Debit Note</button>
                                                            </div>



                                                        </div>











                                                    </div>

                                            </div>
                                            <!-- END COMMISIION PANEL -->

                                            <!-- START DEBIT NOTE LIST PANEL -->
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Debit Information</h3>
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                           class="form-control col-md-6"
                                                           placeholder="Search  ..."
                                                           ng-model="search_ins_comapnies_sub_class_scope_query" />
                                                </div>
                                                <div class="panel-body">






                                                    <div class="row">
                                                        <div class="form-group">

                                                            <label class="col-md-4 control-label">Debit Note Number</label>
                                                            <div class="col-md-8">

                                                                <input type="text" placeholder="" ng-model="DebitNoteNumber" class="form-control" ng-readonly="isDisabled" />
                                                            </div>
                                                            </div>
                                                            <table class="table table-bordered table-responsive" style="font-size:10px;">
                                                                <thead style="background-color:palegreen;font-size:10px;">
                                                                    <tr>

                                                                        <th style="font-size:10px!important;"> Policy No</th>
                                                                        <th style="font-size:10px!important;">Non Commition Primium</th>
                                                                        <th style="font-size:10px!important;">GrossPrimium</th>

                                                                    </tr>
                                                                </thead>

                                                                <!--<tr  >-->
                                                                <tr ng-repeat="policyList in PolicyInfoRecList|filter:search_ins_comapnies_sub_class_scope_query">
                                                                    <td hidden>{{policyList.PolicyInfoRecID}}</td>

                                                                    <td>{{policyList.PolicyNumber}}</td>
                                                                    <td>{{policyList.NonCommissionPremium}}</td>
                                                                    <td>{{policyList.GrossPremium}}</td>

                                                                </tr>




                                                            </table>




                                                        </div>

                                                    <div class="form-group">

                                                        <label class="col-md-4 control-label">total None Commission Premium</label>
                                                        <div class="col-md-8">

                                                            <input type="text" placeholder="" ng-model="ttlnonCommission" class="form-control" />
                                                        </div>

                                                        </div>
                                                    <div class="form-group">

                                                        <label class="col-md-4 control-label">Total Gross Premium</label>
                                                        <div class="col-md-8">

                                                            <input type="text" placeholder="" ng-model="ttlgross" class="form-control" />
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label"></label>


                                                        <div class="col-md-8 pull-right">
                                                            <button type="submit" class="btn btn-primary pull-right" ng-click="AddToPayment()">Add To Payment</button>
                                                        </div>

                                                    </div>






                                                </div>

                                            </div>
                                            <!-- END COMMISIION PANEL -->

                                            <!-- START PAYMENT PANEL -->
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Payment Information</h3>
                                                    <input type="text" ng-style="{'background-color': data.backgroundCol}"
                                                           class="form-control col-md-6"
                                                           placeholder="Search  ..."
                                                           ng-model="search_ins_comapnies_sub_class_scope_query" />
                                                </div>
                                                <div class="panel-body">






                                                    <div class="row">
                                                        <div class="form-group">

                                                            <label class="col-md-4 control-label">Payment Number</label>
                                                            <div class="col-md-8">

                                                                <input type="text" placeholder="" ng-model="PaymentNumber" class="form-control" ng-readonly="isDisabled" />
                                                            </div>
                                                        </div>
                                                        <table class="table table-bordered table-responsive" style="font-size:10px;">
                                                            <thead style="background-color:palegreen;font-size:10px;">
                                                                <tr>

                                                                    <th style="font-size:10px!important;"> Debit Note No</th>
                                                                    <th style="font-size:10px!important;">total </th>
                                                                    <th style="font-size:10px!important;">Client Name</th>

                                                                </tr>
                                                            </thead>

                                                            <!--<tr  >-->
                                                            <tr ng-repeat="DebitNote in DebitNoteList|filter:search_ins_comapnies_sub_class_scope_query">
                                                                <td hidden>{{DebitNote.DebitNoteNumber}}</td>

                                                                <td>{{DebitNote.DebitNoteNumber}}</td>
                                                                <td>{{DebitNote.TotalNonCommissionPremium}}</td>
                                                                <td>{{DebitNote.TotalGrossPremium}}</td>

                                                            </tr>




                                                        </table>




                                                    </div>

                                                    <div class="form-group">

                                                        <label class="col-md-4 control-label">total None Commission Premium</label>
                                                        <div class="col-md-8">

                                                            <input type="text" placeholder="" ng-model="ttlnonCommission" class="form-control" />
                                                        </div>

                                                    </div>
                                                    <div class="form-group" hidden>

                                                        <label class="col-md-4 control-label">Total Gross Premium</label>
                                                        <div class="col-md-8">

                                                            <input type="text" placeholder="" ng-model="ttlgross" class="form-control" />
                                                        </div>
                                                    </div>


                                                    <div class="form-group" >
                                                        <label class="col-md-4 control-label"></label>


                                                        <div class="col-md-8 pull-right">
                                                            <button type="submit" class="btn btn-primary pull-right" ng-click="ConfirmPayment()">Confirm Payment</button>
                                                        </div>

                                                    </div>






                                                </div>

                                            </div>
                                            <!-- END COMMISIION PANEL -->

                                        </div>






                                    </div>
                              




                                </div>





                            </form>


                        </div>


























                        <div class="row" hidden>
                            <div class="col-md-7">

                                <ng-form name="PolicyRenewal">
                                    <form class="form-horizontal col-md-12" role="form">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Client</label>
                                            @*<div class="col-md-2">
                                                    <input type="text" placeholder="Policy Number" class="form-control" ng-required="true" style="width:100%" />
                                                </div>*@
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Policy Number</label>
                                            <div class="col-md-2">
                                                <input type="text" placeholder="Policy Number" class="form-control" style="width:100%" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Sum Assured</label>
                                            <div class="col-md-2">
                                                <input type="number" placeholder="" class="form-control" style="width:100%" />
                                            </div>
                                            <div class="col-md-1">
                                                <select>
                                                    <option value="">Currency</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Customer Address</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Premium Including Tax</label>
                                            <div class="col-md-2">
                                                <input type="number" placeholder="" ng-model="amount" class="form-control" style="width:100%" />
                                            </div>
                                            <div class="col-md-1">
                                                <select>
                                                    <option value="">Currency</option>
                                                </select>
                                            </div>
                                            <label class="col-md-1 control-label">Date of Commence</label>

                                            <div class="col-md-2">

                                                <input type="date" placeholder="" class="form-control" style="width:100%" />
                                            </div>

                                            <label class="col-md-1 control-label">Period of Cover</label>
                                            <div class="col-md-1">

                                                <input type="date" placeholder="" class="form-control" style="width:100%" />
                                            </div>

                                            <div class="col-md-1">
                                                <input type="date" placeholder="" class="form-control" style="width:100%" />
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-md-2 control-label"></label>
                                            <table class="text-center col-md-5" style="text-align:left;width:30%;" border="1">
                                                <thead style="background-color:lightsteelblue;">
                                                    <tr>
                                                        <th>Class</th>
                                                        <th>Sub Class</th>
                                                        <th>Sum Issured</th>
                                                        @*<th>Payment Type</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Class</td>
                                                        <td>Sub Class</td>
                                                        <td>Sum Issured</td>
                                                        @*<td>Payment Type</td>*@
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <label class="col-md-1 control-label">Scope</label>
                                            <table class="text-center col-md-5" style="text-align:left;" border="1">
                                                <thead style="background-color:lightsteelblue;">
                                                    <tr>
                                                        <th>ScopeID</th>
                                                        <th>Scope Desc</th>
                                                        <th>Excess Type</th>
                                                        <th>Excess</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Class</td>
                                                        <td>Sub Class</td>
                                                        <td>Sum Issured</td>
                                                        <td>Payment Type</td>
                                                    </tr>

                                                </tbody>

                                            </table>

                                        </div>
                                        <br /><br /><br />
                                        <div class="form-group">

                                            <label class="col-md-2 control-label">Other Excess Description</label>
                                            <div class="col-md-8">

                                                <input type="text" placeholder="Enter Text" class="form-control" style="width:80%" />
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label class="col-md-2 control-label">Other Excess Amount</label>
                                            <div class="col-md-4">

                                                <input type="number" placeholder="Enter Text" class="form-control" style="width:80%" />
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label class="col-md-2 control-label">Insurance Property Description</label>
                                            <div class="col-md-10">

                                                <input type="text" placeholder="Enter Text" class="form-control" style="width:80%" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Tax Invoice Number</label>
                                            <div class="col-md-2">
                                                <input type="text" placeholder="Tax Invocie Number" class="form-control" style="width:100%" />
                                            </div>
                                            <label class="col-md-2 control-label">File Number</label>
                                            <div class="col-md-2">
                                                <input type="text" placeholder="File Number" class="form-control" style="width:100%" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Payment Type</label>
                                            <div class="col-md-1">
                                                <select>
                                                    <option value="">Half Payment</option>
                                                    <option value="">Full Payment</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Other Commission</label>
                                            <div class="col-md-2">
                                                <select ng-model="selectedpartner" ng-options="P for P in partner">
                                                    @*<option value="">Partner</option>*@
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <select data-ng-model="selectedrate" data-ng-options="R for R in rate">
                                                    @*<option selected="">Rate</option>
                                                        <option ng-repeat="R in rate" ng-value="R.value" ng-model="selectedrate">{{R.rate}}</option>*@
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="submit" class="btn btn-primary" ng-click="add()">Add</button>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="col-md-2 control-label"></label>
                                            <table class="text-center col-md-5" style="text-align:left;width:30%;" border="1">
                                                <thead style="background-color:lightsteelblue;">
                                                    <tr>
                                                        <th>Partner</th>
                                                        <th>Rate</th>
                                                        <th>Amount</th>
                                                        @*<th>Payment Type</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="PIR in PolicyInfoRec">
                                                        <td>{{PIR.Partner}}</td>
                                                        <td>{{PIR.Rate}}</td>
                                                        <td>{{PIR.Amount}}</td>
                                                        @*<td>Payment Type</td>*@
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>




                                        <br /> <br /> <br /> <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"></label>
                                            <div class="col-md-1">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="submit" class="btn btn-primary">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </ng-form>
                            </div>


                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Status{{}}</label>
                                    <div class="col-md-8">

                                        <select class="form-control "
                                                ng-model="statuseee">
                                            <option ng-repeat="status in statuses"
                                                    value="{{status.QuotationStatusCode}}">
                                                {{status.Description}}
                                            </option>
                                        </select>


                                    </div>





                                </div>



                                <div class="form-group">
                                    <label class="col-md-4 control-label">Request No</label>
                                    <div class="col-md-8">
                                        <div class="form-control">
                                            REQ-{{ ClientRequestHeader.ClientRequestHeaderID}}


                                        </div>
                                    </div>





                                </div>


                                <div class="form-group">
                                    <label class="col-md-4 control-label">Request Date</label>
                                    <div class="col-md-8">
                                        <div class="form-control">
                                            {{RequestedDate}}


                                        </div>
                                    </div>





                                </div>

                                <div class="form-group" ng-show="isNewCustomer">
                                    <label class="col-md-4 control-label">Choose Customer</label>
                                    <div class="col-md-8">
                                        <select ng-style="{'background-color': data.backgroundCol}" ng-options="client.ClientID as client.ClientName for client in Clients"
                                                ng-change="LoadClientByID(client)"
                                                ng-model="ClientID" class="form-control" ng-readonly="isDisabled"></select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Customer Name</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" name="cusName" class=" form-control" ng-readonly="isDisabled" ng-model="cusName" value="Some text value..." />


                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Address1</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="Address1" ng-readonly="isDisabled" value="password" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Address2</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="Address2" value="password" ng-readonly="isDisabled" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Address3</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="Address3" ng-readonly="isDisabled" value="password" />
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label class="col-md-4 control-label">DOB</label>
                                    <div class="col-md-4">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class=" form-control" name="date" ng-readonly="isDisabled" ng-model="DOB" />

                                    </div>
                                    <label class="col-md-1 control-label">NIC</label>
                                    <div class="col-md-3">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="NIC" ng-readonly="isDisabled" />
                                    </div>



                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Mobile No</label>
                                    <div class="col-md-4">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="mobileNo" ng-readonly="isDisabled" />
                                    </div>
                                    <label class="col-md-2 control-label">Fixed Line</label>
                                    <div class="col-md-2">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control" ng-model="fixedLine" ng-readonly="isDisabled" />
                                    </div>



                                </div>

                                <div class="form-group">

                                    <label class="col-md-4 control-label">E-Mail</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" name="email" class=" form-control" ng-model="email" ng-readonly="isDisabled" />

                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">AVIVA/BUPA</label>
                                    <div class="col-md-8">
                                        <div class="panel panel-default">
                                            <div class="panel-body">

                                                <div class="form-group" style="font-size:10px;">
                                                    <label class="col-md-2 control-label">Resident Country</label>
                                                    <div class="col-md-4">
                                                        <select ng-style="{'background-color': data.backgroundCol}" class="col-md-12 form-control " data-live-search="true" ng-model="homeCountry" ng-readonly="isDisabled">
                                                            <option ng-repeat="Country in Countries"
                                                                    value="{{Country.CountryID}}">
                                                                {{Country.CountryName}}
                                                            </option>

                                                        </select>
                                                    </div>
                                                    <label class="col-md-2 control-label">Home Country</label>
                                                    <div class="col-md-4">
                                                        <select ng-style="{'background-color': data.backgroundCol}" class="form-control " data-live-search="true" ng-model="residentCountry" ng-readonly="isDisabled">
                                                            <option ng-repeat="Country in Countries"
                                                                    value="{{Country.CountryID}}">
                                                                {{Country.CountryName}}
                                                            </option>

                                                        </select>
                                                    </div>



                                                </div>


                                                <div class="form-group" style="font-size:10px;">
                                                    <label class="col-md-2 control-label">Inspection Date</label>
                                                    <div class="col-md-10">
                                                        <div class="input-group date datepicker" data-date="05/07/2014"
                                                             data-date-format="dd-mm-yyyy" ng-model="inspectionType" ng-readonly="isDisabled">
                                                            <input type="text" ng-style="{'background-color': data.backgroundCol}" id="dp-2" class="form-control  " value="05/07/2014" ng-readonly="isDisabled" />
                                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="form-group" style="font-size:10px;">

                                                    <label class="col-md-2 control-label">Family Discount</label>
                                                    <div class="col-md-10">
                                                        <input type="text" ng-style="{'background-color': data.backgroundCol}" class="form-control  " ng-model="fDiscount" ng-readonly="isDisabled" />

                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>

                            </div>



                        </div>





                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
