
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_index.cshtml";
}

@*<h2>Index</h2>*@


<script src="~/Scripts/ng/Services/PolicyCategoryService.js"></script>
<script src="~/Scripts/ng/Controllers/PolicyCategoryController.js"></script>
<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Dashboard"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Master Details</li><li>Policy</li>
        <li class="active"><b>Policy Category</b></li>
    </ul>
</div>
<div ng-app="IBMSAPP" ng-controller="PolicyCategoryController" ng-init="init()" ng-cloak>
    <div class="page-content-wrap">
        <div class="panel panel-default tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">View</a></li>
                <li><a href="#tab-second" role="tab" data-toggle="tab">New</a></li>
            </ul>
            <div class="panel-body tab-content">
                <div class="tab-pane active" id="tab-first">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <strong>Policy Category</strong>
                            </h3>
                            <ul class="panel-controls">
                                <li><input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" placeholder="Search Policy Category ..." ng-model="search_query" ng-change="searchTextChange(search_query)"></li>
                                <li><a href="#" ng-click="refreshContent()"><span class="fa fa-refresh"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-2">Show records per page </div>
                        <div class="col=md-10">
                            <select class="form-control" style="width:100px;"
                                    ng-model="viewby"
                                    ng-change="setItemsPerPage(viewby)">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                            </select>
                        </div>
                        <div><br></div>
                        <table class="table table-responsive" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Action</th>
                                    @*<th>Setting Code</th>
                                        <th>Setting Description</th>*@
                                </tr>
                            </thead>

                            <tbody ng-repeat="PolicyCategory in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <!--<tr  >-->
                                <tr id="view{{PolicyCategory.PolicyCategoryID}}">
                                    <td>{{PolicyCategory.PolicyCategoryName}}</td>

                                    <td>
                                        <div class="fa fa-edit btn btn-success" ng-click="edit(PolicyCategory)">&nbsp;&nbsp;Edit</div>&nbsp;&nbsp;
                                        <div class="fa fa-trash-o btn btn-danger" ng-click="Delete(PolicyCategory.PolicyCategoryID)">&nbsp;&nbsp;Delete</div>
                                    </td>
                                </tr>
                                <tr id="edit{{PolicyCategory.PolicyCategoryID}}" hidden>
                                    <td hidden>
                                        <input type="text" hidden class="form-control"
                                               value="{{PolicyCategory.PolicyCategoryID}}"
                                               ng-model="PolicyCategory.PolicyCategoryID">
                                    </td>
                                    <td>
                                        <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control"
                                               value="{{PolicyCategory.PolicyCategoryName}}"
                                               ng-model="PolicyCategory.PolicyCategoryName">
                                        <span class="help-block" style="color:red" ng-show="!PolicyCategory.PolicyCategoryName">Required Field *</span>
                                    </td>
                                    @*<td>
                                            <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control"
                                                   value="{{Setting.SettingCode}}"
                                                   ng-model="Setting.SettingCode">
                                        </td>
                                        <td>
                                            <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control"
                                                   value="{{Setting.SettingDescription}}"
                                                   ng-model="Setting.SettingDescription">
                                        </td>*@
                                    <td>
                                        <div class="fa fa-save btn btn-info" ng-disabled="!(PolicyCategory.PolicyCategoryName)" ng-click="update(PolicyCategory)">&nbsp;&nbsp;Update</div>&nbsp;
                                        <div ng-click="cancel(PolicyCategory)" class="fa fa-times btn btn-default">&nbsp;&nbsp;Cancel</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination class="pull-left" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
                    </div>
                </div>
                <div class="tab-pane" id="tab-second">
                    <form class="form-horizontal col-md-10" role="form">
                        <ng-form name="policyData" novalidate>

                            @*<div class="form-group">
                <label class="col-md-4 control-label">Designation ID</label>
                <div class="col-md-8">
                    <select class="form-control" ng-model="DesignationID">
                        <option ng-repeat="Set in gridOptionsDesignation"
                                value="{{Set.DesignationID}}">
                            {{Set.DesignationName}}
                        </option>
                    </select>
                </div>
            </div>*@
                            <div class="form-group">
                                <label class="col-md-4 control-label">Policy Category Name</label>
                                <div class="col-md-8">
                                    <input type="text" name="inputPolicyName"class="form-control" ng-model="CategoryName" ng-required="true" /><span class="help-block" style="color:red" ng-show="policyData.inputPolicyName.$error.required">Required Field *</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <button type="button" class="btn btn-primary" ng-disabled="!policyData.$valid" ng-click="Save()">Save Changes <span class="fa fa-floppy-o fa-right"></span></button>
                                    <button type="button" class="btn btn-default" ng-click="ClearFields()">Clear<span class="glyphicon glyphicon-erase fa-right"></span></button>
                                </div>

                            </div>
                            @*<div class="form-group">
                <label class="col-md-4 control-label">Setting Description</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="SettingDesc" />
                </div>
            </div>*@
                        </ng-form>
                    </form>
                    
                </div>
            </div>
        </div>
        <div id="divLoading" ng-show="showLoader"></div>
    </div>
</div>