
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_index.cshtml";
}

<style>
    .panel-heading {
        background: #1caf9a;
    }
</style>

<script src="~/Scripts/ng/Excel/Excel.js"></script>
<script src="~/Scripts/ng/Services/CancelledClientRequestService.js"></script>
<script src="~/Scripts/ng/Controllers/CancelledClientRequestController.js"></script>

<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Index"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Enquiries</li>
        <li class="active"><b>Cancelled Client Requests</b></li>
    </ul>
</div>

<div class="content" ng-app="IBMSAPP">
    <div ng-controller="CancelledClientRequestController" ng-init="init()" ng-cloak>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 class="panel-title">Client Requested Date Range</h6>
                    </div>
                    <div class="panel-body">
                        <ng-form name="profileData" novalidate>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3 control-label">Date Range</label>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text"
                                                       name="selectlPaymentDate"
                                                       class="form-control date"
                                                       ng-click="lpaydate=true"
                                                       ng-change="calculateDays()"
                                                       datepicker-popup="dd/MM/yyyy"
                                                       ng-model="filterObj.fromDate"
                                                       is-open="lpaydate"
                                                       datepicker-options="dateOptions"
                                                       placeholder="From Date"
                                                       ng-required="true"
                                                       close-text="Close">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default glyphicon glyphicon-calendar" ng-click="lpaydate=true;$event.stopPropagation();"></button>
                                                </span>
                                            </div>
                                            <span class="help-block" style="color:red" ng-show="manageCustomer.selectlPaymentDate.$error.required">
                                                Required Field *
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input type="text"
                                                   name="DateOfIntimation"
                                                   class="form-control date"
                                                   ng-click="coverToDateView=true"
                                                   ng-change="calculateDays()"
                                                   datepicker-popup="MM/dd/yyyy"
                                                   ng-model="filterObj.toDate"
                                                   is-open="coverToDateView"
                                                   datepicker-options="dateOptions"
                                                   placeholder="To Date"
                                                   close-text="Close">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default glyphicon glyphicon-calendar" ng-click="coverToDateView=true;$event.stopPropagation();"></button>
                                            </span>
                                        </div>
                                        <span class="help-block" style="color:red" ng-show="managePolicyInfoRecording.DateOfIntimation.$error.required">
                                            Required Field *
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-3">Number of Days</label>
                                    <div class="col-md-4">
                                        <input type="text" id="user" name="inputFirstName" placeholder="In Days" data-ng-model="inDays" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>

                        </ng-form>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <button type="submit" class="btn btn-primary" ng-click="getCancelledRequest()">Submit<i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                    <br />
                </div>
            </div>
        </div>

        @* Table *@
        <div class="page-content-wrap">
            <div class="panel panel-default tabs">
                <div class="panel-body tab-content">
                    <div class="tab-pane active" id="tab-first">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h3 class="panel-title">
                                    <strong>Client Request Details</strong>
                                </h3>

                                <ul class="panel-controls">
                                    <li><input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" placeholder="Search Commission...." ng-model="search_query" ng-change="searchTextChange(search_query)"></li>
                                </ul>

                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal col-md-12" role="form">
                                <ng-form name="CommissionPercentagesData">
                                    <label class="col-md-3 control-label">Show records per page </label>
                                    <div class="col=md-10">
                                        <select class="form-control" style="width:100px;" ng-model="viewby"
                                                ng-change="setItemsPerPage(viewby)">
                                            <option>5</option>
                                            <option>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                            <option>40</option>
                                            <option>50</option>
                                        </select>
                                    </div>
                                    <div></div>
                                    <br />

                                    <table class="table table-responsive" cellspacing="0" id="list">
                                        <thead>
                                            <tr>
                                                <th>Client Id</th>
                                                <th>Client Name</th>
                                                <th>NIC</th>
                                                <th>Contact No</th>
                                                <th>Email</th>
                                                <th>Client Address</th>
                                                <th>Policy Start</th>
                                                <th>Policy End</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="filterdData in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <tr>
                                                <td>{{filterdData.ClientId }}</td>
                                                <td>{{filterdData.ClientName }}</td>
                                                <td>{{filterdData.NIC  }}</td>
                                                <td>{{filterdData.PhoneNo }}</td>
                                                <td>{{filterdData.Email }}</td>
                                                <td>{{filterdData.ClientAddress }}</td>
                                                <td>{{filterdData.PolicyStartDate | date}}</td>
                                                <td>{{filterdData.PolicyEndDate | date}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-left" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
                                    <button style="border-radius: 0px;width:19%;" class="btn btn-danger pull-right" ng-click="exportToExcel('#list')">Export to Excel</button>
                                </ng-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="divLoading" ng-show="showLoader"></div>
    </div>
</div>

