
@{

    ViewBag.Title = "Index";
    
}
@{
Layout = "~/Views/Shared/_index.cshtml";
}


<script src="~/Scripts/ng/Controllers/RequreDocumentController.js"></script>
<script src="~/Scripts/ng/Services/RequreDocumentService.js"></script>
<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="/Dashboard/Index"><i class="icon-home2 position-left"></i>Home</a></li>
        <li>Master Details</li><li>Document</li>
        <li class="active"><b>Required Document</b></li>
    </ul>
</div>
@*Developed by Rajin*@
<div class="content" ng-app="IBMSAPP">
    <div ng-controller="RequreDocumentController" ng-init="init()" ng-cloak>


        <div class="page-content-wrap">

            <div class="panel panel-default tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">View</a></li>
                    <li><a href="#tab-second" role="tab" data-toggle="tab">New</a></li>
                    @*<li><a href="#tab-third" role="tab" data-toggle="tab">Edit</a></li>*@
                </ul>
                <div class="panel-body tab-content">
                    <div class="tab-pane active" id="tab-first">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <strong>Required Document</strong>
                                </h3>
                                <ul class="panel-controls">
                                    <li><input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;" class="form-control" placeholder="Search Required Document ..." ng-model="search_query" ng-change="searchTextChange(search_query)"></li>
                                    <li><a href="#" ng-click="refreshContent()"><span class="fa fa-refresh"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-2">Show records per page </div>
                            <div class="col=md-10">
                                <select class="form-control" style="width:100px;" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>50</option>
                                </select>
                            </div>
                            <div></div><br />
   
                            <table class="table table-responsive" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th hidden>Require Document ID</th>
                                        <th>Document Name</th>
                                        <th>Insurance Class</th>
                                        <th>Insurance Sub Class</th>
                                        <th>Document Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="Req in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <!--<tr  >-->
                                    <tr id="view{{Req.RequiredDocID}}">
                                        <td hidden>{{Req.RequiredDocID}}</td>
                                        <td>{{Req.DocumentName}}</td>
                                        <td>{{Req.InsuranceClassName}}</td>
                                        <td>{{Req.InsuranceSubClassName}}</td>
                                        <td>{{Req.DocCategoryName}}</td>
                                        <td>
                                            <div class="fa fa-edit btn btn-success" ng-click="editREQ(Req)">&nbsp;&nbsp;Edit</div>&nbsp;&nbsp;<div class="fa fa-trash-o btn btn-danger" ng-click="deleteREQ(Req.RequiredDocID)">&nbsp;&nbsp;Delete</div>
                                        </td>


                                    </tr>

                                    <tr id="edit{{Req.RequiredDocID}}" hidden>
                                        <td hidden>
                                            <input type="text" hidden class="form-control"
                                                   value="{{Req.RequiredDocID}}"
                                                   ng-model="Req.RequiredDocID">
                                        </td>
                                        <td>
                                            <input type="text" style="font-size: 12px;width: 100%;border-radius: 0px;margin-right:2px;"hidden class="form-control"
                                                   value="{{Req.DocumentName}}"
                                                   ng-model="Req.DocumentName">
                                            <span class="help-block" style="color:red" ng-show="!Req.DocumentName">Required Field *</span>
                                        </td>
                                        <td>
                                            <select name="selectCompany" style="width: 100%" id="timeZone" class="form-control" ng-model="Req.InsuranceClassID" ng-change="getAllInsuranceSubClassByInsClass(Req.InsuranceClassID)" ng-options="INS.InsuranceClassID as INS.InsuranceCode for INS in availableINS">
                                                <option value="{{Req.InsuranceClass}}"></option>
                                            </select>
                                            <span class="help-block" style="color:red" ng-show="!Req.InsuranceClassID">Required Field *</span>
                                        </td>
                                        <td>
                                            <select name="selectCompany" style="width: 100%"id="timeZone" class="form-control" ng-change="LoadSubInsClass(Req.InsuranceClassID)" ng-model="Req.InsuranceSubClassID" ng-options="INSSUB.InsuranceSubClassID as INSSUB.Description for INSSUB in availableInsuranceSubClass">
                                                <option value="Req.InsuranceSubClass"></option>
                                            </select>
                                            <span class="help-block" style="color:red" ng-show="!Req.InsuranceSubClassID">Required Field *</span>
                                        </td>
                                        <td>
                                            <select name="selectCompany" style="width: 100%"id="timeZone" class="form-control" ng-model="Req.DocCategoryID" ng-options="DOC.DocCategoryID as DOC.CategoryName for DOC in availableDOC">
                                                <option value="Req.DocCategoryName"></option>
                                            </select>
                                            <span class="help-block" style="color:red" ng-show="!Req.DocCategoryID">Required Field *</span>
                                        </td>
                                        <td>
                                            <div class="fa fa-save btn btn-info" ng-disabled="!(Req.DocumentName && Req.InsuranceClassID && Req.InsuranceSubClassID && Req.DocCategoryID)" ng-click="update(Req)">&nbsp;&nbsp;Update</div>&nbsp;
                                            <div ng-click="cancel(Req)" class="fa fa-times btn btn-default">&nbsp;&nbsp;Cancel</div>
                                        </td>


                                    </tr>

                                </tbody>

                            </table>
                            <pagination class="pull-left" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>

                        </div>

                    </div>
                    <div class="tab-pane" id="tab-second">
                        <form class="form-horizontal col-md-10" role="form">
                            <ng-form name="reqDocData" novalidate>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Insurance Class</label>
                                    <div class="col-md-8">
                                        <select name="selectCompany" id="timeZone" class="form-control" ng-model="reqObj.InsuranceClass" ng-change="getAllInsuranceSubClassByInsClass(reqObj.InsuranceClass)" ng-options="INS.InsuranceClassID as INS.InsuranceCode for INS in availableINS" ng-required="true">
                                            <option value="">--Select a Insurance Class--</option>
                                        </select><span class="help-block" style="color:red" ng-show="reqDocData.selectCompany.$error.required">Required Field *</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Insurance Sub Class</label>
                                    <div class="col-md-8">
                                        <select name="selectSubClass" id="timeZone" class="form-control" ng-model="reqObj.InsuranceSubClass" ng-options="INSSUB.InsuranceSubClassID as INSSUB.Description for INSSUB in availableInsuranceSubClass" ng-required="true">
                                            <option value="">--Select a Insurance Sub Class--</option>
                                        </select><span class="help-block" style="color:red" ng-show="reqDocData.selectSubClass.$error.required">Required Field *</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Document Category</label>
                                    <div class="col-md-8">
                                        <select name="selectDoc" id="timeZone" class="form-control" ng-model="reqObj.DocumentCategory" ng-options="DOC.DocCategoryID as DOC.CategoryName for DOC in availableDOC" ng-required="true">
                                            <option value="">--Select a Document Category--</option>
                                        </select><span class="help-block" style="color:red" ng-show="reqDocData.selectDoc.$error.required">Required Field *</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Document Name</label>
                                    <div class="col-md-8">
                                        <input type="text" name="DocName" ng-model="reqObj.DocumentName" class="form-control" value="Some text value..." ng-required="true" /><span class="help-block" style="color:red" ng-show="reqDocData.DocName.$error.required">Required Field *</span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-primary" ng-disabled="!reqDocData.$valid" ng-click="addReqDocument()">Add Require Document <span class="fa fa-floppy-o fa-right"></span></button>
                                        <button type="button" class="btn btn-default" ng-click="ClearFields()">Clear<span class="glyphicon glyphicon-erase fa-right"></span></button>
                                    </div>

                                </div>
                            </ng-form>
                        </form>
                            


</div>
                    <div class="tab-pane" id="tab-third">
                        <p> 3rd</p>

                    </div>
                </div>
            </div>

        </div>
        <div id="divLoading" ng-show="showLoader"></div>
    </div>
</div>