
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_index.cshtml";
}

@*<h2>Profile</h2>*@
@*<style>
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .hand {
        cursor: pointer;
    }


    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 250px;
        height: 250px;
        display: block;
        position: relative;
    }

        .cropArea canvas {
            margin: 0 !important;
        }

    .ng-isolate-scope > canvas {
        margin: 0 !important;
    }
</style>*@
<style>
    .panel-heading{
        background:#1caf9a;
    }

</style>

<script src="~/Scripts/ng/Services/ProfileService.js"></script>
<script src="~/Scripts/ng/Controllers/ProfileController.js"></script>
<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li>
            <a href="/Dashboard/Index"><i class="icon-home2 position-left"></i>Home</a>
        </li>
        <li>Administration</li>
        <li class="active">
            <b>My Profile</b>
        </li>
    </ul>
</div>
@*Developed by Rajin*@
<div class="content" ng-app="IBMSAPP">
    <div ng-controller="ProfileController" ng-init="init()" ng-cloak>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary">
                    @*<ul class="nav nav-tabs" role="<div class="panel panel-primary">">
                            <li class="active">
                                <a href="#tab-first" role="tab" data-toggle="tab">View</a>
                            </li>
                            <li>
                                <a href="#tab-second" role="tab" data-toggle="tab">New</a>
                            </li>
                            @*<li><a href="#tab-third" role="tab" data-toggle="tab">Edit</a></li>
                        </ul>*@
                    <div class="panel-heading">
                        <h6 class="panel-title">Profile Information</h6>
                        @*{{currentUser}}*@
                    </div>
                    <div class="panel-body">
                        <ng-form name="profileData" novalidate>
                            
                                <div class="form-group">
                                    <label class="col-md-4 control-label">User Name</label>
                                    @*<span class="error" ng-show="profileData.inputFirstName.$error.required" style="color:red">&nbsp;*</span>*@
                                    <input type="text" id="user" name="inputFirstName" placeholder="User Name" data-ng-model="userObj.UserName" class="form-control" ng-required="true">
                                </div>
                           
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Login Name</label>
                                    @*<span class="error" ng-show="profileData.inputLastName.$error.required" style="color:red">&nbsp;*</span>*@
                                    <input type="text" id="login" name="LoginName" placeholder="Login Name" data-ng-model="userObj.LoginName" class="form-control" ng-required="true">
                                </div>
                          
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Designation</label>
                                    @*<div class="col-md-8">*@
                                        <select name="selectCompany" id="timeZone" class="form-control" ng-model="userObj.DesignationID" ng-options="des.DesignationID as des.DesignationName for des in gridOptionsDesignation" ng-required="true">
                                            <option value="{{currentUser.DesignationName}}"></option>
                                        </select>
                                     
                                   
                                </div>
                          
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        @*<span class="error" ng-show="profileData.inputLastName.$error.required" style="color:red">&nbsp;*</span>*@
                        <button type="submit" class="btn btn-primary" ng-disabled="!profileData.$valid" ng-click="updateProfile()">Update Profile<i class="icon-arrow-right14 position-right"></i></button>
                    </div>@*ng-disabled="!profileData.$valid"*@
                    
                    </ng-form><br />
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 class="panel-title">Change Password</h6>
                       
                    </div>
                    <div class="panel-body">
                        <ng-form name="passwordData" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Old Password</label><span class="error" ng-show="passwordData.inputOldPassword.$error.required" style="color:red">&nbsp;*</span>
                                        <input type="password" placeholder="Old Password" name="inputOldPassword" data-ng-model="passwordObj.OldPassword" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">New Password</label><span class="error" ng-show="passwordData.inputNewPassword.$error.required" style="color:red">&nbsp;*</span>
                                        <input type="password" placeholder="New Password" name="inputNewPassword" data-ng-model="passwordObj.NewPassword" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Confirm Password</label><span class="error" ng-show="passwordData.inputConfirmPassword.$error.required" style="color:red">&nbsp;*</span>
                                        <input type="password" placeholder="Confirm Password" name="inputConfirmPassword" data-ng-model="passwordObj.ConfirmPassword" data-match="passwordObj.NewPassword" class="form-control" ng-required="true">
                                        <span class="error" ng-show="passwordData.inputConfirmPassword.$error.match" style="color:red">
                                            Passwords do not match!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <button type="submit" class="btn btn-primary" ng-disabled="!passwordData.$valid" ng-click="changePassword()">Change Password<i class="icon-arrow-right14 position-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            
                        </ng-form>
                    </div>
                </div>
            </div>

        </div>
        @*<div id="divLoading" ng-show="showLoader"></div>*@
    </div></div>


